<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-2@l" uk-grid>
        <div>
            <div class="about-specialist">
                <h4>{{ specialist.full_name }}</h4>
                <span class="line"></span>

                <h6>Стаж работы: <span>{{ specialist.experience }}</span></h6>
                <h6>Специализация:</h6>

                <div class="specialization">

                    <ul class="uk-list uk-list-bullet">
                        {% for item in specialist.specialization.all %}
                            <li>{{ item.title }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
        <div class=" uk-visible@m">
            <div class="specialist-image">
                <div class="image-wrap">
                    <div class="uk-inline">
                        <img data-src="{{ specialist.image.url }}" class="uk-border-circle" width="250"
                             height="250" alt="doctor image" uk-img="target: !.uk-slider-items">
                        <div class="image-border"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="education-block">
        <h6>Образование и курсы:</h6>

        <ul class="uk-list uk-list-bullet">
            {% for item in specialist.courses.all %}
                <li>{{ item.title }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="typical-button">
        <button class="uk-button uk-button-default" uk-toggle="target: #appointment-modal">Записаться на прием
        </button>
    </div>

</div>