@font-face {
    font-family: 'UbuntuLight';
    src: url('../fonts/Ubuntu-Light.eot');
    src: url('../fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Ubuntu-Light.woff') format('woff'),
    url('../fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'UbuntuLight', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1D1D1D
}

header {
    transition: all .2s ease-in;
}

header.uk-active {
    background-color: #fff;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}

.fixed-logo {
    opacity: 0;
    transition: all .4s ease-out;
}

header.uk-active .fixed-logo {
    opacity: 1;
}

header.uk-active .uk-navbar-item {
    transition: all .2s ease-in;
}

header.uk-active .uk-navbar-item {
    height: 60px;
}

.wrapper-menu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
}

.wrapper-menu.open {
    transform: rotate(-45deg);
}

.line-menu {
    background-color: #BFBFBF;
    border-radius: 5px;
    width: 100%;
    height: 3px;
}

.line-menu.half {
    width: 50%;
}

.line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

.open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

.open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
}

.uk-navbar-nav > li > a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1D1D1D;
    text-transform: none;
    position: relative;
    flex-direction: column;
    height: auto;
    padding: 10px 20px;
}

.uk-navbar-nav > li > a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    width: 5px;
    border-bottom: 2px solid #ADC766;
    opacity: 0;
    transition: all .4s ease-out;
}

.uk-navbar-nav > li > a:hover {
    color: #1D1D1D;
}

.uk-navbar-nav > li > a:hover::after {
    width: 30px;
    opacity: 1;
}

.uk-navbar-nav > li.uk-active a::after {
    width: 30px;
    opacity: 1;
}

.link-underline {
    display: block;
    width: 30px;
    margin: 10px auto 0;
    border-bottom: 2px solid #ADC766;
}

.social {
    margin: 0;
    list-style: none;
}

.social li {
    padding: 0 12px;
}

/*-------------------------------------------------*/

.main-section {
    position: relative;
    background: url('../images/header-pic.png') 120% 30px no-repeat;
    -webkit-background-size: 52% auto;
    background-size: 52% auto;
    padding: 0 0 180px;
}

.introduction-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 440px;
    padding-bottom: 60px;
}

.introduction-block a {
    margin-bottom: 40px;
}

.line {
    width: 50px;
    border-bottom: 2px solid #ADC766;
}

.introduction-block p {
    font-family: 'UbuntuLight', sans-serif;
    font-size: 16px;
    color: #807D82;
    text-align: center;
    margin: 40px 0 45px;
}

.bordered-button {
    padding: 10px;
    border: 1px solid #E0E0E0;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

.typical-button .uk-button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 40px;
    background: linear-gradient(to right, #C8D280 0%, #6CBC81 100%);
    width: 300px;
    height: 40px;
    padding: 0;
    border: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(29, 29, 29, 0.2);
    transition: all .2s ease-in;
}

.typical-button .uk-button:hover {
    border: 2px solid #ADC766;
    color: #ADC766;
    background: linear-gradient(#fff, #fff);
    line-height: 36px;
}

.main-section .uk-container-expand {
    padding-top: 80px;
}

.offers-container,
.sales-container {
    box-shadow: 0 10px 40px rgba(29, 29, 29, 0.15);
}

.offers-container,
.sales-container {
    background-color: #fff;
    padding: 30px 25px;
}

.offers-content,
.sales-content {
    background: linear-gradient(to bottom right, #C7D17F 0%, #6CBB81 100%);
    padding: 4px;
}

.offers-content > div,
.sales-content > div {
    background-color: #fff;
}



.sale-slider .uk-slideshow-items {
    background: linear-gradient(to bottom right, #C7D17F 0%, #6CBB81 100%);
    height: 100% !important;
    box-shadow: 0 10px 40px rgba(29, 29, 29, 0.15);
}

.sale-slider .uk-slideshow-items li {
    padding: 30px 25px;
}

.sale-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10%;
    border: 4px solid #FFFFFF;
}

.sale-card .section-title {
    border-color: #F3F3F3;
    margin-bottom: 25px;
    padding: 0 10px;
}

.sale-card .line {
    width: 50px;
    border-color: #FFFFFF;
}

.sale-card p {
    font-size: 16px;
    text-align: center;
    margin: 30px 0;
}

.offers-content {
    text-align: center;
}

.offers-content h4,
.sales-content h4,
.sale-card .section-title h4 {
    font-size: 22px;
}

.offers-content h4,
.sales-content h4 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
    line-height: 20px;
}

.offers-content h4 {
    justify-content: center;
}

.offers-content h4 > span,
.sales-content h4 > span {
    border-bottom: 10px solid #F3F3F3;
}

.offers-content h4 > span span,
.sales-content h4 > span span {
    position: relative;
    bottom: -8px;
    display: block;
}

.offers-content > div,
.sales-content > div {
    padding: 30px 10%;
}

.offers-content p,
.sales-content p {
    margin: 30px 0;
}

.sales-content form {
    display: flex;
}

.sales-content form .uk-input {
    font-size: 12px;
    width: 55%;
    height: 50px;
}

.sales-content form .uk-input:hover,
.sales-content form .uk-input:focus {
    border-color: #C8D280;
}

.sales-content form .uk-button {
    background: linear-gradient(to bottom right, #C7D17F 0%, #6CBB81 100%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 500;
    width: 45%;
    height: 50px;
    padding: 0;
    border: 0;
}

.sale-slider .uk-position-bottom-right,
.sale-slider .uk-position-bottom-left {
    bottom: -87px;
}

.sale-slider .uk-slideshow-nav {
    align-items: center;
    margin-bottom: 0;
}

.sale-slider * + .uk-margin {
    margin-top: 45px !important;
}

.uk-dotnav > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.sale-slider .uk-dotnav > * > * {
    width: 15px;
    height: 15px;
    background-color: rgba(128, 125, 130, 0.2);
    border: 0;
    transition: all .2s ease-out;
}

.sale-slider .uk-dotnav > .uk-active > * {
    width: 20px;
    height: 20px;
    border: 0;
    background-color: rgba(128, 125, 130, 0.5);
}

.appointment-modal .uk-modal-dialog {
    width: 370px;
    padding: 40px 30px;
}

.appointment-modal h4 {
    text-align: center;
    margin-bottom: 20px;
}

.appointment-modal .line {
    display: block;
    width: 50px;
    margin: 0 auto;
}

.appointment-modal p {
    margin: 20px 0 25px;
}

.appointment-modal .uk-input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #1D1D1D;
    height: 50px;
    padding: 0 20px;
    border-color: #BFBFBF;
    transition: all .1s ease-out;
}

.appointment-modal .uk-input:hover,
.appointment-modal .uk-input:focus {
    border-color: #C7D17F;
}

.appointment-modal .typical-button {
    text-align: center;
    padding-top: 15px;
}

.appointment-modal .typical-button .uk-button {
    width: 220px;
}

/*-------------------------------------------------*/

.section-title {
    border-bottom: 10px solid #BDD187;
}

h4 {
    font-family: 'Lora', serif;
    font-size: 24px;
    color: #1D1D1D;
    margin: 0;
}

.section-title h4 {
    position: relative;
    bottom: -14px;
}

.about-us p {
    font-size: 16px;
    text-align: justify;
    margin: 45px 0 0;
}

.gallery-slider {
    padding-left: 60px;
}

.gallery-slider .uk-slidenav {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 8px 13px;
    border: 1px solid #BFBFBF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.gallery-slider .uk-position-center-right-out {
    left: 97%;
}

.gallery-slider .uk-position-center-left-out {
    right: 97%;
}

/*-------------------------------------------------*/

.category-section {
    padding-bottom: 0;
}

.body-image {
    animation: float_3465 4s linear infinite;
    transform-origin: 50% 50%;
}

.body-image .uk-marker {
    background-color: rgba(255, 255, 255, 0.4);
    color: #F2F2F2;
    border: 1.5px solid #f2f2f2;
}

.body-image .uk-marker:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.body-image .uk-marker.uk-active {
    background-color: rgba(255, 255, 255, 0.7);
}



.category-container {
    padding-bottom: 130px;
}

.category-container .section-title {
    border-color: #E7E7E7;
    padding: 30px 0 0 5px;
}

.js-filter {
    padding: 50px 0;
}

.category-block h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #1D1D1D;
}


@keyframes float_3465 {
    0% { transform: translateY(0) }
    25% { transform: translateY(-10px) }
    50% { transform: translateY(0) }
    100% { transform: translateY(0) }
}

.category-block .uk-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.category-block .uk-list li {
    cursor: pointer;
}

.category-block .uk-list li:first-of-type {
    margin-top: 10px;
}

.category-block .uk-list-bullet > li::before {
    transition: all .3s ease-out;
}

.category-block .uk-list-bullet > li:hover::before {
    left: 8px;
}

.category-block .uk-list-bullet > li::before {
    background-image: url("../images/dot-icon.svg");
}

.category-container > a.uk-link-text {
    color: #BFBFBF;
    text-decoration: underline;
}

.category-container > .uk-link-text:hover {
    color: #1D1D1D;
}

/*-------------------------------------------------*/

.service-modal .uk-close,
.specialist-modal .uk-close {
    color: #ADC766;
}

.service-modal [class*=uk-modal-close-],
.specialist-modal [class*=uk-modal-close-] {
    top: 25px;
    right: 25px;
}

.service-modal .uk-modal-dialog,
.specialist-modal .uk-modal-dialog {
    width: 770px;
    padding: 70px 90px 70px;
}

.service-modal h4 {
    margin-bottom: 30px;
}

.service-modal .line,
.specialist-modal .line {
    display: block;
    width: 100px;
}

.service-modal p {
    margin: 25px 0 0;
}

.service-modal .typical-button,
.specialist-modal .typical-button {
    text-align: center;
    padding-top: 30px;
}

.service-modal .typical-button .uk-button,
.specialist-modal .typical-button .uk-button {
    width: 220px;
}

/*-------------------------------------------------*/

.services-section {
    padding: 0;
}

.all-services-container {
    position: relative;
    background-color: #F4F4F4;
    top: -115px;
    padding: 70px 0 100px;
}

.all-services-container .lines {
    position: absolute;
    top: 45px;
    right: -50px;
}

.all-services-container .head {
    position: absolute;
    right: 40px;
    bottom: -130px;
    animation: pulse_7652 4s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes pulse_7652 {
    0% { transform: scale(1.1) }
    25% { transform: scale(0.8) }
    50% { transform: scale(1.1) }
    100% { transform: scale(1.1) }
}

.all-services-container > p {
    padding-left: 100px;
}

.all-services .section-title {
    width: 80%;
}

.first-column {
    padding-left: 100px;
}

.second-column {
    padding-right: 100px;
}

.all-services .uk-list {
    margin: 50px 0 0;
}

.all-services .uk-list li {
    text-transform: capitalize;
    cursor: pointer;
}

.all-services .uk-list-bullet > li::before {
    transition: all .3s ease-out;
}

.all-services .uk-list-bullet > li:hover::before {
    left: 8px;
}

.all-services .uk-list-bullet > li::before {
    background-image: url("../images/dot-icon.svg");
}

/*-------------------------------------------------*/

.specialists-section {
    padding-top: 20px;
}

.specialists-section .section-title {
    margin-left: 115px;
    width: 100%;
    max-width: 350px;
    margin-bottom: 90px;
}

.specialists-slider {
    padding: 0 115px;
}

.specialists-slider .uk-position-small[class*=uk-position-center-right],
.specialists-slider .uk-position-small[class*=uk-position-center-left] {
    -webkit-transform: translateY(-50%) translateY(-70px);
    -moz-transform: translateY(-50%) translateY(-70px);
    -ms-transform: translateY(-50%) translateY(-70px);
    -o-transform: translateY(-50%) translateY(-70px);
    transform: translateY(-50%) translateY(-70px);
}

.image-wrap {
    padding: 13px 0 0 25px;
}

.image-wrap .uk-marker {
    background-color: #ADC766;
    color: #FFFFFF;
}

.image-wrap .uk-marker:hover,
.image-wrap .uk-marker:focus {
    background-color: rgba(255, 255, 255, 0.9);
    color: #ADC766;
}

.image-wrap .uk-inline {
    width: 100%;
    max-width: 250px;
    height: 250px;
}

.image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-border {
    position: absolute;
    top: -13px;
    left: -25px;
    width: 100%;
    height: 100%;
    border: 3px solid #ADC766;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.specialists-slider .uk-slidenav,
.sale-slider .uk-slidenav {
    color: #ADC766;
    transition: all .2s ease-out;
}

.specialists-slider .uk-slidenav:hover,
.sale-slider .uk-slidenav:hover {
    color: #90ad3e;
}

.uk-position-center-left-out {
    right: 102%;
}

.uk-position-center-right-out {
    left: 102%;
}

.specialist-card h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #1D1D1D;
    text-align: center;
}

.specialist-card p {
    text-align: center;
    margin: 0;
}

.about-specialist h4 {
    padding-bottom: 30px;
}

h6 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #C4C4C4;
    margin: 30px 0 0;
}

h6 span {
    color: #1D1D1D;
}

.about-specialist p {
    margin: 4px 0 0;
}

.specialization p:first-of-type {
    margin-top: 15px;
}

.about-specialist .uk-list {
    margin: 0;
}

.specialist-image {
    padding-top: 100px;
}

.education-block .uk-list {
    margin: 15px 0 0;
}

.about-specialist .uk-list > li:first-of-type,
.education-block .uk-list > li:first-of-type {
    margin-top: 4px;
}

.about-specialist .uk-list > li:nth-child(n+2),
.education-block .uk-list > li:nth-child(n+2) {
    margin-top: 4px;
}

/*-------------------------------------------------*/

.works-section {
    padding-bottom: 500px;
}

.examples-block {
    display: flex;
    align-items: flex-start;
}

.works-slider {
    width: 100%;
    max-width: 420px;
    height: 400px;
}

.works-slider .uk-slidenav {
    z-index: 10;
}

.slick-list {
    width: 100%;
    height: 100%;
}

.slick-track {
    height: 100%;
}

.works-slider .twentytwenty-wrapper {
    width: 100%;
    height: 100%;
}

.works-slider .twentytwenty-container {
    height: 100% !important;
}

.works-slider .twentytwenty-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.twentytwenty-handle {
    background-color: #BDD187;
    border: 0;
}

.works-slider .twentytwenty-overlay {
    background-color: transparent;
}

.twentytwenty-before-label:before,
.twentytwenty-after-label:before {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #1D1D1D;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    line-height: 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.twentytwenty-horizontal .twentytwenty-after-label:before {
    top: auto;
    right: 15px;
    bottom: 15px;
    margin: 0;
}

.twentytwenty-horizontal .twentytwenty-before-label:before {
    top: auto;
    left: 15px;
    bottom: 15px;
    margin: 0;
}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
    margin-left: 0.5px;
}

.slick-dots {
    position: absolute;
    left: 50%;
    bottom: -70px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.slick-dots button {
    font-size: 0;
    background-color: transparent;
    border: 0;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.slick-dots li button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(128, 125, 130, 0.2);
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: '';
    cursor: pointer;
    transition: all .2s ease-out;
}

.slick-dots li button:hover:before {
    background-color: rgba(128, 125, 130, 0.5);
}

.slick-dots li.slick-active button:before {
    background-color: rgba(128, 125, 130, 0.5);
    width: 20px;
    height: 20px;
}

.works-slider .uk-position-bottom-right,
.works-slider .uk-position-bottom-left {
    bottom: -75px;
}

.work-type {
    width: 100%;
    max-width: 350px;
    margin: 0 30px 0;
}

.work-type li {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #BDD187;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.work-type li .line {
    width: 40px;
    margin-left: 15px;
    transition: all .5s ease-out;
}

.work-type li.active-type .line {
    width: 150px;
}

/*-------------------------------------------------*/

footer {
    position: relative;
    background: #363537 url("../images/bust.png") 95% 115% no-repeat;
    -webkit-background-size: 250px 400px;
    background-size: 250px 400px;
    padding: 375px 0 70px;
}

.map-wrapper {
    position: absolute;
    top: -270px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 830px;
    height: 445px;
    padding-top: 30px;
}

#map {
    width: 100%;
    height: 100%;
}

.contact-block {
    background-color: #fff;
    position: absolute;
    top: 105px;
    left: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 370px;
    padding: 45px 75px;
    box-sizing: border-box;
    box-shadow: 0 20px 62px rgba(21, 14, 14, 0.15);
    z-index: 10;
}

.round {
    position: absolute;
    top: 365px;
    left: 10%;
}

.contact-block h4 {
    margin-bottom: 35px;
}

.contact-block .line {
    width: 50px;
    margin-bottom: 30px;
}

.contact-block p {
    margin: 0 0 20px 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    text-align: center;
}

.contact-block p:last-of-type {
    font-family: 'UbuntuLight', sans-serif;
}

.contact-block .typical-button {
    width: 100%;
    padding-top: 20px;
}

.contact-block .typical-button .uk-button {
    width: 100%;
    font-size: 12px;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-navigation > img {
    margin-bottom: 30px;
}

.footer-navigation .uk-navbar-nav > li > a {
    color: #FFFFFF;
}

.footer-navigation p {
    margin: 35px 0;
    color: rgba(234, 234, 234, 0.4);
}

.footer-navigation .uk-navbar-item {
    height: auto;
}

.uk-offcanvas-bar {
    background-color: #fff;
    box-shadow: 3px 0 15px rgba(29, 29, 29, 0.1);
}

.sidebar .uk-nav {
    padding-top: 40px;
}

.sidebar .uk-nav > li > a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #1D1D1D;
    font-weight: 500;
}

.sidebar .uk-close {
    color: #ADC766;
}

.sidebar .uk-close:hover {
    color: #90ad3e;
}

.burger {
    display: none;
}

.mobile-icon {
    display: none;
}


[class*=uk-animation-] {
    animation-duration: .8s !important;
}

/*---------------------RESPONSIVE-----------------------*/

@media screen and (max-width: 1280px) {
    .image-wrap .uk-inline {
        height: auto;
    }

    .lines {
        display: none;
    }
}

@media screen and (max-width: 1060px) {
    header .uk-navbar-right {
        display: none;
    }

    .burger {
        display: block;
    }

    header .uk-navbar-left {
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-icon {
        display: block;
    }

    .specialists-slider {
        padding: 0 25px;
    }

    .introduction-block {
        padding-bottom: 0;
    }

    .gallery-slider {
        padding: 40px 0 0 20px;
    }

    footer {
        background-image: none;
    }
}

@media only screen and (max-width: 960px) {
    .main-section {
        background: none;
        padding: 0 0 30px;
    }

    .introduction-block {
        margin: 0 auto;
    }

    .gallery-slider {
        padding: 0;
    }

    .sale-slider {
        height: 310px;
    }

    .main-section .uk-grid>.uk-grid-margin {
        margin-top: 130px;
    }

    .first-column {
        padding-left: 30px;
    }

    .second-column {
        padding-right: 30px;
    }

    .all-services-container > p {
        padding-left: 30px;
    }

    .specialists-section {
        padding-top: 0;
    }

    .specialists-section .section-title {
        margin-left: 0;
        margin-bottom: 50px;
    }

    .specialists-slider {
        padding: 0 35px;
    }

    .specialist-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .works-section {
        padding-bottom: 450px;
    }

    .works-slider {
        margin: 0 auto;
    }

    .contact-block {
        top: 170px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        max-width: 280px;
        padding: 40px 35px;
    }
}

@media only screen and (max-width: 775px) {
    footer .uk-navbar-nav {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 640px) {
    .sale-slider .uk-slideshow-items li {
        padding: 20px;
    }

    .sale-card {
        padding: 20px 15px;
    }

    .sales-container {
        padding: 20px;
    }

    .sales-content > div {
        padding: 20px;
    }

    .gallery-slider .uk-position-center-right-out {
        left: 90%;
    }

    .gallery-slider .uk-position-center-left-out {
        right: 90%;
    }

    .all-services-container {
        top: 0;
    }

    .services-section {
        padding: 50px 0;
    }

    .services-section .uk-container {
        padding: 0;
    }

    .first-column,
    .second-column {
        padding: 0 15px 0 30px;
    }

    .service-modal .uk-modal-dialog, .specialist-modal .uk-modal-dialog {
        width: 770px;
        padding: 30px;
    }

    .service-modal [class*=uk-modal-close-], .specialist-modal [class*=uk-modal-close-] {
        top: 5px;
        right: 5px;
    }

    .map-wrapper {
        height: 380px;
    }

    .works-section {
        padding-bottom: 400px;
    }

    .works-slider {
        height: 330px;
    }
}


@media only screen and (max-width: 350px) {
    header .uk-navbar-left .fixed-logo {
        width: 160px;
    }

    .typical-button .uk-button {
        width: 260px;
    }

    .gallery-slider .uk-position-center-right-out {
        left: 85%;
    }

    .gallery-slider .uk-position-center-left-out {
        right: 85%;
    }
}

@media only screen and (min-width: 1400px) {
    header.uk-active .uk-navbar-item {
        height: 100px;
    }

    .main-section {
        -ms-background-position-y: 0!important;
        background-position-y: 0!important;
    }

    .main-section .uk-container-expand .uk-grid>* {
        padding-left: 70px;
    }

    .main-section .uk-container.uk-container-expand {
        margin-top: 100px;
        padding-right: 70px;
        padding-left: 70px;
    }
}

@media only screen and (min-width: 1600px) {
    .main-section .uk-container.uk-container-expand {
        margin-top: 200px;
    }
}

















































