{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Clinic</title>
    <link rel="stylesheet" href="{% static 'css/twentytwenty.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lora|Ubuntu:400,500,700&amp;subset=cyrillic,cyrillic-ext"
          rel="stylesheet">
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="https://maps.api.2gis.ru/2.0/loader.js"></script>
</head>
<body id="home">

<div class="uk-offcanvas-content">

    <header uk-sticky>
        <div class="uk-container">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

                <div class="uk-navbar-left">
                    <a href="#offcanvas-push" class="burger" uk-toggle>
                        <!--<div class="wrapper-menu">-->
                        <!--<div class="line-menu half start"></div>-->
                        <!--<div class="line-menu"></div>-->
                        <!--<div class="line-menu half end"></div>-->
                        <!--</div>-->
                        <img src="{% static 'images/burger-icon.svg' %}" alt="burger icon">
                    </a>
                    <a class="uk-navbar-item uk-logo" href="#home">
                        <img src="{% static 'images/fixed-header-logotype.svg' %}" class="fixed-logo" alt="logotype">
                    </a>
                    <a href="#" class="mobile-icon">
                        <img src="{% static 'images/mobile-phone-icon.svg' %}" alt="phone icon">
                    </a>
                </div>

                <div class="uk-navbar-right">

                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#sales">Акции</a>
                        </li>
                        <li>
                            <a href="#about">О нас</a>
                        </li>
                        <li>
                            <a href="#services">Услуги</a>
                        </li>
                        <li>
                            <a href="#specialists">Специалисты</a>
                        </li>
                        <li>
                            <a href="#our-works">Наши работы</a>
                        </li>
                        <li>
                            <a href="#contacts">Контакты</a>
                        </li>
                    </ul>

                    <ul class="uk-navbar-item social">
                        <li>
                            <a href="#">
                                <img src="{% static 'images/phone-icon.svg' %}" alt="phone-icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'images/instagram-icon.svg' %}" alt="instagram-icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'images/fb-icon.png' %}" alt="fb-icon">
                            </a>
                        </li>
                    </ul>

                </div>

            </nav>
        </div>
    </header>

    <div class="uk-section uk-section-default main-section">
        <div class="uk-container">
            <div class="introduction-block">
                <a href="#" class="logotype">
                    <img src="{% static 'images/logotype.svg' %}" alt="logotype">
                </a>
                <span class="line"></span>

                <p>Красота спасет мир, а эстетическая медицина поможет ей в этом. <br>
                    ARTclinic - мы творим красоту!</p>

                <div class="bordered-button typical-button">
                    <button class="uk-button uk-button-default" uk-toggle="target: #appointment-modal">Записаться на
                        прием
                    </button>
                </div>
            </div>
        </div>

        <div class="uk-container uk-container-expand" id="sales">
            <div class="uk-flex-center@m" uk-grid uk-height-match>
                <div class="uk-width-1-3@l uk-visible@m" uk-scrollspy="cls: uk-animation-slide-left;">
                    <div class="offers-container uk-height-1-1">
                        <div class="offers-content uk-height-1-1">
                            <div class="uk-height-1-1">
                                <div class="title-underline">
                                    <h4><span><span>Актуальные</span></span> <span><span>предложения</span></span></h4>
                                </div>
                                <p>{{ special_offer.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l" uk-scrollspy="cls: uk-animation-scale-up;">
                    <div class="uk-height-1-1 sale-slider" uk-slideshow>

                        <div class="uk-position-relative uk-height-1-1">

                            <ul class="uk-slideshow-items">

                                {% for item in actions %}
                                <li class="uk-height-1-1">
                                    <div class="sale-card uk-height-1-1">
                                        <div class="section-title">
                                            <h4>АКЦИЯ</h4>
                                        </div>
                                        <span class="line"></span>

                                        <p>{{ item.description }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>

                            <a class="uk-position-bottom-left uk-position-small uk-hidden-hover" href="#"
                               uk-slidenav-previous uk-slideshow-item="previous"></a>
                            <a class="uk-position-bottom-right uk-position-small uk-hidden-hover" href="#"
                               uk-slidenav-next
                               uk-slideshow-item="next"></a>

                        </div>

                        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

                    </div>
                </div>
                <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l" uk-scrollspy="cls: uk-animation-slide-right;">
                    <div class="sales-container uk-height-1-1">
                        <div class="sales-content uk-height-1-1">
                            <div class="uk-height-1-1">
                                <div class="title-underline">
                                    <h4><span><span>Ждете</span></span> <span><span>&nbsp;подходящую</span></span>
                                        <span><span>акцию?</span></span></h4>
                                </div>
                                <p>Подпишитесь и будьте всегда в курсе самых выгодных предложений!</p>

                                <form class="email-form" method="post" action="{% url 'email-application' %}">
                                    <input class="uk-input" type="text" name="email" placeholder="E-MAIL" required>
                                    <button class="uk-button uk-button-default">ПОДПИСАТЬСЯ</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section uk-section-default about-section" id="about">
        <div class="uk-container">
            <div class="uk-grid-large" uk-grid>
                <div class="uk-width-1-1@s uk-width-1-3@m uk-width-1-3@l">
                    <div class="about-us">
                        <div class="section-title">
                            <h4>О нашей клинике</h4>
                        </div>

                        <p>ARTclinic - новый центр пластической хирургии и косметологии. Наши специалисты оказывают
                            полный спектр услуг в области эстетической медицины.</p>
                        <p>В штате медицинского центра трудятся высококвалифицированные пластические хирурги,
                            врачи-косметологи с многолетним стажем. Операционные оснащены медицинским оборудованием
                            последнего поколения. Палаты, в которых можно найти все необходимое для реабилитации
                            порадуют вас максимальным комфортом. Вежливый и отзывчивый персонал всегда готов прийти на
                            помощь.</p>
                    </div>
                </div>
                <div class="uk-width-1-1@s uk-width-2-3@m uk-width-2-3@l">
                    <div class="gallery-slider">
                        <div class="uk-position-relative"
                             uk-slideshow="min-height: 300; max-height: 420; animation: push">

                            <ul class="uk-slideshow-items">
                                {% for item in slider_images %}
                                <li>
                                    <img src="{{ item.image.url }}" alt="" uk-cover>
                                </li>
                                {% endfor %}
                            </ul>

                            <a class="uk-position-center-left-out uk-hidden-hover" href="#" uk-slidenav-previous
                               uk-slideshow-item="previous"></a>
                            <a class="uk-position-center-right-out uk-hidden-hover" href="#" uk-slidenav-next
                               uk-slideshow-item="next"></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section uk-section-default category-section uk-visible@s" id="services">
        <div class="uk-container">
            <div uk-filter="target: .js-filter">
                <div class="uk-grid-small" uk-grid uk-scrollspy="cls: uk-animation-scale-down; repeat: true">
                    <div class="uk-width-1-3">
                        <div class="uk-inline body-image">
                            <img src="{% static 'images/body.png' %}" alt="body image">
                            <a class="uk-position-absolute uk-transform-center uk-active" style="left: 28%; top: 12%"
                               href="#"
                               uk-marker uk-filter-control="[data-body='face']"></a>
                            <a class="uk-position-absolute uk-transform-center" style="left: 55%; top: 15%" href="#"
                               uk-marker uk-filter-control="[data-body='arm']"></a>
                            <a class="uk-position-absolute uk-transform-center" style="left: 48%; top: 25%" href="#"
                               uk-marker uk-filter-control="[data-body='chest']"></a>
                            <a class="uk-position-absolute uk-transform-center" style="left: 53%; top: 38%" href="#"
                               uk-marker uk-filter-control="[data-body='hip']"></a>
                            <a class="uk-position-absolute uk-transform-center" style="left: 36%; top: 45%" href="#"
                               uk-marker uk-filter-control="[data-body='pussy']"></a>
                            <a class="uk-position-absolute uk-transform-center" style="left: 48%; top: 58%" href="#"
                               uk-marker uk-filter-control="[data-body='legs']"></a>
                        </div>
                    </div>
                    <div class="uk-width-2-3 category-container">
                        <div class="uk-width-1-2 section-title">
                            <h4>Что вы хотите изменить?</h4>
                        </div>
                        <div class="js-filter">
                            <div class="category-block" data-body="face">
                                <<<<<<< Updated upstream
                                <h3>Лицо/Голова</h3>
                                =======
                                <h3>Лицо/голова</h3>
                                >>>>>>> Stashed changes

                                <ul class="uk-list uk-list-bullet uk-child-width-1-2">
                                    {% for item in services %}
                                    {% if item.service_type == 'face' %}
                                    <li class="service_shower"
                                        data-ajax-url="{% url 'service_detail' id=item.id %}">{{ item.title }}
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="category-block" data-body="arm">
                                <h3>Руки, ноги</h3>

                                <ul class="uk-list uk-list-bullet uk-child-width-1-2">
                                    {% for item in services %}
                                    {% if item.service_type == 'hand' %}
                                    <li class="service_shower"
                                        data-ajax-url="{% url 'service_detail' id=item.id %}">{{ item.title }}
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="category-block" data-body="chest">
                                <h3>Грудь</h3>

                                <ul class="uk-list uk-list-bullet uk-child-width-1-2">
                                    {% for item in services %}
                                    {% if item.service_type == 'chest' %}
                                    <li class="service_shower"
                                        data-ajax-url="{% url 'service_detail' id=item.id %}">{{ item.title }}
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="category-block" data-body="hip">
                                <h3>Живот, бока и ягодицы</h3>

                                <ul class="uk-list uk-list-bullet uk-child-width-1-2">
                                    {% for item in services %}
                                    {% if item.service_type == 'hip' %}
                                    <li class="service_shower"
                                        data-ajax-url="{% url 'service_detail' id=item.id %}">{{ item.title }}
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="category-block" data-body="pussy">
                                <h3>Интимная зона</h3>

                                <ul class="uk-list uk-list-bullet uk-child-width-1-2">
                                    {% for item in services %}
                                    {% if item.service_type == 'pussy' %}
                                    <li class="service_shower"
                                        data-ajax-url="{% url 'service_detail' id=item.id %}">{{ item.title }}
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="category-block" data-body="legs">
                                <h3>Ноги</h3>

                                <ul class="uk-list uk-list-bullet uk-child-width-1-2">
                                    {% for item in services %}
                                    {% if item.service_type == 'legs' %}
                                    <li class="service_shower"
                                        data-ajax-url="{% url 'service_detail' id=item.id %}">{{ item.title }}
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <a class="uk-link-text all-services-link" href="#all-services">Посмотреть весь список услуг</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section uk-section-default services-section" id="all-services">
        <div class="uk-container">
            <div class="all-services-container">
                <img data-src="{% static 'images/lines.svg' %}" class="lines uk-visible@l" width="100" height="40"
                     alt="head image" uk-img>
                <p>Наша клиника предоставляет следующие услуги в области <br> хирургии и косметологии:</p>

                <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-2@m uk-child-width-1-2@l uk-grid-large"
                     uk-grid>
                    <div>
                        <div class="all-services first-column">
                            <div class="section-title">
                                <h4>Косметология</h4>
                            </div>

                            <ul class="uk-list uk-list-bullet">
                                {% for item in services %}
                                {% if item.service_category == 'cosmetology' %}
                                <li class="service_shower"
                                    data-ajax-url="{% url 'service_detail' id=item.id %}">{{ item.title }}
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="all-services second-column">
                            <div class="section-title">
                                <h4>Хирургия</h4>
                            </div>

                            <ul class="uk-list uk-list-bullet">
                                {% for item in services %}
                                {% if item.service_category == 'surgery' %}
                                <li class="service_shower"
                                    data-ajax-url="{% url 'service_detail' id=item.id %}">{{ item.title }}
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <img data-src="{% static 'images/head.png' %}" class="head uk-visible@l" width="230" height="320"
                     alt="head image" uk-img>
            </div>
        </div>
    </div>

    <div class="uk-section uk-section-default specialists-section" id="specialists">
        <div class="uk-container">
            <div class="section-title">
                <h4>Наши специалисты</h4>
            </div>

            <div class="specialists-slider" uk-slider>

                <div class="uk-position-relative">

                    <div class="uk-slider-container">
                        <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-3@l uk-grid uk-grid-large">

                            {% for item in specialists %}
                            <li>
                                <div class="specialist-card">
                                    <div class="image-wrap">
                                        <div class="uk-inline uk-light">
                                            <img data-src="{{ item.image.url }}" class="uk-border-circle"
                                                 width="250"
                                                 height="250" alt="doctor image" uk-img="target: !.uk-slider-items">
                                            <div class="image-border"></div>
                                            <a class="uk-position-absolute uk-transform-center specialist-shower"
                                               style="left: 85%; top: 85%"
                                               href="{% url 'specialist_detail' id=item.id %}" uk-marker
                                               uk-toggle></a>
                                        </div>
                                    </div>
                                    <h5>{{ item.full_name }}</h5>
                                    <p>{{ item.description }}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div>
                        <a class="uk-position-center-left-out" href="#" uk-slidenav-previous
                           uk-slider-item="previous"></a>
                        <a class="uk-position-center-right-out" href="#" uk-slidenav-next
                           uk-slider-item="next"></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="uk-section uk-section-default works-section" id="our-works">
        <div class="uk-container">
            <div class="examples-block" uk-scrollspy="cls: uk-animation-fade; repeat: true">
                <ul class="work-type uk-list uk-visible@m">
                    <li class="active-type" data-type="0">Блефаропластика <span class="line"></span></li>
                    <li data-type="1">Блефаропластика <span class="line"></span></li>
                    <li data-type="2">Блефаропластика <span class="line"></span></li>
                </ul>


                <div class="works-slider">
                    <div class="sl-slide">
                        <div class="double-image twentytwenty-container">
                            <!-- The before image is first -->
                            <img src="{% static 'images/about-us-img.jpg' %}" alt="slider image">
                            <!-- The after image is last -->
                            <img src="{% static 'images/doc1.jpg' %}" alt="slider-image">
                        </div>
                    </div>
                    <div class="sl-slide">
                        <div class="double-image twentytwenty-container">
                            <!-- The before image is first -->
                            <img src="{% static 'images/about-us-img.jpg' %}" alt="slider image">
                            <!-- The after image is last -->
                            <img src="{% static 'images/doc1.jpg' %}" alt="slider-image">
                        </div>
                    </div>
                    <div class="sl-slide">
                        <div class="double-image twentytwenty-container">
                            <!-- The before image is first -->
                            <img src="images/about-us-img.jpg" alt="slider image">
                            <!-- The after image is last -->
                            <img src="images/doc1.jpg" alt="slider-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="uk-container">
            <img data-src="{% static 'images/round.svg' %}" class="round uk-visible@l" width="145" height="95"
                 alt="round image"
                 uk-img>

            <div class="map-wrapper" id="contacts">
                <div class="contact-block">
                    <h4>Контакты</h4>
                    <span class="line"></span>

                    {{ contact.text|safe }}

                    <div class="typical-button">
                        <button class="uk-button uk-button-default" uk-toggle="target: #appointment-modal">Записаться на
                            прием
                        </button>
                    </div>
                </div>
                <div id="map"></div>
            </div>

            <div class="footer-navigation">
                <img data-src="{% static 'images/footer-logotype.svg' %}" width="187" height="37" alt="icon" uk-img>

                <ul class="uk-navbar-nav">
                    <li><a href="#home">ARTclinic</a></li>
                    <li><a href="#sales">Акции</a></li>
                    <li><a href="#about">О нас</a></li>
                    <li><a href="#services">Услуги</a></li>
                    <li><a href="#specialists">Специалисты</a></li>
                    <li><a href="#our-works">Наши работы</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                </ul>

                <p>ARTclinic © 2018. Все права защищены</p>

                <ul class="uk-navbar-item social">
                    <li>
                        <a href="#">
                            <img data-src="{% static 'images/footer-phone-icon.svg' %}" width="14" height="14"
                                 alt="icon"
                                 uk-img>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img data-src="{% static 'images/footer-instagram-icon.svg' %}" width="14" height="14"
                                 alt="icon"
                                 uk-img>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img data-src="{% static 'images/footer-fb-icon.svg' %}" width="14" height="14" alt="icon"
                                 uk-img>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <div id="offcanvas-push" class="sidebar" uk-offcanvas="mode: push; overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <ul class="uk-nav">
                <li class="uk-active">
                    <a href="#sales">Акции</a>
                </li>
                <li>
                    <a href="#about">О нас</a>
                </li>
                <li>
                    <a href="#all-services">Услуги</a>
                </li>
                <li>
                    <a href="#our-works">Наши работы</a>
                </li>
                <li>
                    <a href="#specialists">Специалисты</a>
                </li>
                <li>
                    <a href="#contacts">Контакты</a>
                </li>
            </ul>

        </div>
    </div>

</div>

<div id="modal-center" class="uk-flex-top service-modal" uk-modal>

</div>

<div id="appointment-modal" class="uk-flex-top appointment-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <h4>Записаться на <br> прием</h4>
        <span class="line"></span>

        <p>Оставьте заявку и наш оператор <br> перезвонит Вам!</p>

        <form class="application-form" method="post" action="{% url 'application' %}">
            <fieldset class="uk-fieldset">

                <div class="uk-margin">
                    <input class="uk-input" type="text" name="name" placeholder="ВАШЕ ИМЯ">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="text" name="phone_number" placeholder="ВАШ НОМЕР" required>
                </div>

                <div class="typical-button">
                    <button type="submit" class="uk-button uk-button-default">Записаться на прием</button>
                </div>

            </fieldset>
        </form>

    </div>
</div>


<div id="employer-modal" class="uk-flex-top specialist-modal" uk-modal>

</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/uikit-icons.min.js' %}"></script>
<script src="{% static 'js/jquery.event.move.js' %}"></script>
<script src="{% static 'js/jquery.twentytwenty.js' %}"></script>
<script src="{% static 'slick/slick.min.js' %}"></script>
<script>
    DG.then(function () {
        var map,
            myIcon;

        map = DG.map('map', {
            center: [42.842, 74.625],
            zoom: 18,
            zoomControl: false
        });

        myIcon = DG.icon({
            iconUrl: 'https://maps.api.2gis.ru/2.0/example_logo.png',
            iconSize: [48, 48]
        });
        DG.marker([42.842, 74.626], {
            icon: myIcon
        }).addTo(map);
    });
    //    function initMap() {
    //        var map = new google.maps.Map(document.getElementById('map'), {
    //            zoom: 16,
    //            center: {lat: 42.8420436, lng: 74.623389}
    //        });
    //
    //        // var image = 'images/logotype.png';
    //        var marker = new google.maps.Marker({
    //            position: {lat: 42.8420436, lng: 74.623389},
    //            map: map,
    //            title: 'Art Clinic',
    //            icon: '{% static 'images/location.svg' %}'
    //        });
    //    }
</script>
<!--<script async defer-->
<!--src="https://maps.googleapis.com/maps/api/js?callback=initMap">-->
<!--</script>-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122498189-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-122498189-1');
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter49629277 = new Ya.Metrika2({
                    id: 49629277,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/49629277" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>